<body>
<form action="contacts" method="POST" role="form">

  <div class="form-group">
    <div>
      <label>e-mail отправителя сообщения</label>
      <input class="form-control" type="email" placeholder="1@1.ru" name="user_email">
    </div>
    </br>
    <p><textarea class="form-control" name="user_message" placeholder="Текст сообщения"></textarea></p>
    </br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>